*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

openCVLibrary340/

\.idea/misc\.xml

# ignore visual studio files
.vs*
*.sln
*.vcxproj*
*lastbuildstate
*.tlog
*.log
*x64

# ignore debug images
*Debug
*DebugImages
openCVLibrary341/build/generated/mockable-android-26.v3.jar
.idea/misc.xml
app/CMakeLists.txt
app/CMakeLists.txt
